#! /bin/sh
export TRANSMISSION_HOME={{ default .Env.TRANSMISSION_HOME "/data/transmission-home" }}
export TRANSMISSION_ALT_SPEED_DOWN={{ default .Env.TRANSMISSION_ALT_SPEED_DOWN "50" }}
export TRANSMISSION_ALT_SPEED_ENABLED={{ default .Env.TRANSMISSION_ALT_SPEED_ENABLED "false" }}
export TRANSMISSION_ALT_SPEED_TIME_BEGIN={{ default .Env.TRANSMISSION_ALT_SPEED_TIME_BEGIN "540" }}
export TRANSMISSION_ALT_SPEED_TIME_DAY={{ default .Env.TRANSMISSION_ALT_SPEED_TIME_DAY "127" }}
export TRANSMISSION_ALT_SPEED_TIME_ENABLED={{ default .Env.TRANSMISSION_ALT_SPEED_TIME_ENABLED "false" }}
export TRANSMISSION_ALT_SPEED_TIME_END={{ default .Env.TRANSMISSION_ALT_SPEED_TIME_END "1020" }}
export TRANSMISSION_ALT_SPEED_UP={{ default .Env.TRANSMISSION_ALT_SPEED_UP "50" }}
export TRANSMISSION_BIND_ADDRESS_IPV4={{ default .Env.TRANSMISSION_BIND_ADDRESS_IPV4 "0.0.0.0" }}
export TRANSMISSION_BIND_ADDRESS_IPV6={{ default .Env.TRANSMISSION_BIND_ADDRESS_IPV6 "::" }}
export TRANSMISSION_BLOCKLIST_ENABLED={{ default .Env.TRANSMISSION_BLOCKLIST_ENABLED "false" }}
export TRANSMISSION_BLOCKLIST_URL={{ default .Env.TRANSMISSION_BLOCKLIST_URL "http://www.example.com/blocklist" }}
export TRANSMISSION_CACHE_SIZE_MB={{ default .Env.TRANSMISSION_CACHE_SIZE_MB "4" }}
export TRANSMISSION_DHT_ENABLED={{ default .Env.TRANSMISSION_DHT_ENABLED "true" }}
export TRANSMISSION_DOWNLOAD_DIR={{ default .Env.TRANSMISSION_DOWNLOAD_DIR "/download/completed" }}
export TRANSMISSION_DOWNLOAD_LIMIT={{ default .Env.TRANSMISSION_DOWNLOAD_LIMIT "100" }}
export TRANSMISSION_DOWNLOAD_LIMIT_ENABLED={{ default .Env.TRANSMISSION_DOWNLOAD_LIMIT_ENABLED "0" }}
export TRANSMISSION_DOWNLOAD_QUEUE_ENABLED={{ default .Env.TRANSMISSION_DOWNLOAD_QUEUE_ENABLED "true" }}
export TRANSMISSION_DOWNLOAD_QUEUE_SIZE={{ default .Env.TRANSMISSION_DOWNLOAD_QUEUE_SIZE "5" }}
export TRANSMISSION_ENCRYPTION={{ default .Env.TRANSMISSION_ENCRYPTION "1" }}
export TRANSMISSION_IDLE_SEEDING_LIMIT={{ default .Env.TRANSMISSION_IDLE_SEEDING_LIMIT "30" }}
export TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED={{ default .Env.TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED "false" }}
export TRANSMISSION_INCOMPLETE_DIR={{ default .Env.TRANSMISSION_INCOMPLETE_DIR "/data/incomplete" }}
export TRANSMISSION_INCOMPLETE_DIR_ENABLED={{ default .Env.TRANSMISSION_INCOMPLETE_DIR_ENABLED "true" }}
export TRANSMISSION_LPD_ENABLED={{ default .Env.TRANSMISSION_LPD_ENABLED "false" }}
export TRANSMISSION_MAX_PEERS_GLOBAL={{ default .Env.TRANSMISSION_MAX_PEERS_GLOBAL "200" }}
export TRANSMISSION_MESSAGE_LEVEL={{ default .Env.TRANSMISSION_MESSAGE_LEVEL "3" }}
export TRANSMISSION_PEER_CONGESTION_ALGORITHM={{ default .Env.TRANSMISSION_PEER_CONGESTION_ALGORITHM "" }}
export TRANSMISSION_PEER_ID_TTL_HOURS={{ default .Env.TRANSMISSION_PEER_ID_TTL_HOURS "6" }}
export TRANSMISSION_PEER_LIMIT_GLOBAL={{ default .Env.TRANSMISSION_PEER_LIMIT_GLOBAL "200" }}
export TRANSMISSION_PEER_LIMIT_PER_TORRENT={{ default .Env.TRANSMISSION_PEER_LIMIT_PER_TORRENT "50" }}
export TRANSMISSION_PEER_PORT={{ default .Env.TRANSMISSION_PEER_PORT "51413" }}
export TRANSMISSION_PEER_PORT_RANDOM_HIGH={{ default .Env.TRANSMISSION_PEER_PORT_RANDOM_HIGH "65535" }}
export TRANSMISSION_PEER_PORT_RANDOM_LOW={{ default .Env.TRANSMISSION_PEER_PORT_RANDOM_LOW "49152" }}
export TRANSMISSION_PEER_PORT_RANDOM_ON_START={{ default .Env.TRANSMISSION_PEER_PORT_RANDOM_ON_START "true" }}
export TRANSMISSION_PEER_SOCKET_TOS={{ default .Env.TRANSMISSION_PEER_SOCKET_TOS "default" }}
export TRANSMISSION_PEX_ENABLED={{ default .Env.TRANSMISSION_PEX_ENABLED "true" }}
export TRANSMISSION_PORT_FORWARDING_ENABLED={{ default .Env.TRANSMISSION_PORT_FORWARDING_ENABLED "false" }}
export TRANSMISSION_PREALLOCATION={{ default .Env.TRANSMISSION_PREALLOCATION "1" }}
export TRANSMISSION_PREFETCH_ENABLED={{ default .Env.TRANSMISSION_PREFETCH_ENABLED "1" }}
export TRANSMISSION_QUEUE_STALLED_ENABLED={{ default .Env.TRANSMISSION_QUEUE_STALLED_ENABLED "true" }}
export TRANSMISSION_QUEUE_STALLED_MINUTES={{ default .Env.TRANSMISSION_QUEUE_STALLED_MINUTES "30" }}
export TRANSMISSION_RATIO_LIMIT={{ default .Env.TRANSMISSION_RATIO_LIMIT "2" }}
export TRANSMISSION_RATIO_LIMIT_ENABLED={{ default .Env.TRANSMISSION_RATIO_LIMIT_ENABLED "false" }}
export TRANSMISSION_RENAME_PARTIAL_FILES={{ default .Env.TRANSMISSION_RENAME_PARTIAL_FILES "true" }}
export TRANSMISSION_RPC_AUTHENTICATION_REQUIRED={{ default .Env.TRANSMISSION_RPC_AUTHENTICATION_REQUIRED "false" }}
export TRANSMISSION_RPC_BIND_ADDRESS={{ default .Env.TRANSMISSION_RPC_BIND_ADDRESS "0.0.0.0" }}
export TRANSMISSION_RPC_ENABLED={{ default .Env.TRANSMISSION_RPC_ENABLED "true" }}
export TRANSMISSION_RPC_PASSWORD={{ default .Env.TRANSMISSION_RPC_PASSWORD "password" }}
export TRANSMISSION_RPC_PORT={{ default .Env.TRANSMISSION_RPC_PORT "9091" }}
export TRANSMISSION_RPC_URL={{ default .Env.TRANSMISSION_RPC_URL "/transmission/" }}
export TRANSMISSION_RPC_USERNAME={{ default .Env.TRANSMISSION_RPC_USERNAME "username" }}
export TRANSMISSION_RPC_WHITELIST={{ default .Env.TRANSMISSION_RPC_WHITELIST "127.0.0.1" }}
export TRANSMISSION_RPC_WHITELIST_ENABLED={{ default .Env.TRANSMISSION_RPC_WHITELIST_ENABLED "false" }}
export TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED={{ default .Env.TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED "true" }}
export TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED={{ default .Env.TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED "false" }}
export TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME={{ default .Env.TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME "" }}
export TRANSMISSION_SEED_QUEUE_ENABLED={{ default .Env.TRANSMISSION_SEED_QUEUE_ENABLED "false" }}
export TRANSMISSION_SEED_QUEUE_SIZE={{ default .Env.TRANSMISSION_SEED_QUEUE_SIZE "10" }}
export TRANSMISSION_SPEED_LIMIT_DOWN={{ default .Env.TRANSMISSION_SPEED_LIMIT_DOWN "100" }}
export TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED={{ default .Env.TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED "false" }}
export TRANSMISSION_SPEED_LIMIT_UP={{ default .Env.TRANSMISSION_SPEED_LIMIT_UP "100" }}
export TRANSMISSION_SPEED_LIMIT_UP_ENABLED={{ default .Env.TRANSMISSION_SPEED_LIMIT_UP_ENABLED "false" }}
export TRANSMISSION_START_ADDED_TORRENTS={{ default .Env.TRANSMISSION_START_ADDED_TORRENTS "true" }}
export TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES={{ default .Env.TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES "false" }}
export TRANSMISSION_UMASK={{ default .Env.TRANSMISSION_UMASK "2" }}
export TRANSMISSION_UPLOAD_LIMIT={{ default .Env.TRANSMISSION_UPLOAD_LIMIT "100" }}
export TRANSMISSION_UPLOAD_LIMIT_ENABLED={{ default .Env.TRANSMISSION_UPLOAD_LIMIT_ENABLED "0" }}
export TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT={{ default .Env.TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT "14" }}
export TRANSMISSION_UTP_ENABLED={{ default .Env.TRANSMISSION_UTP_ENABLED "true" }}
export TRANSMISSION_WATCH_DIR={{ default .Env.TRANSMISSION_WATCH_DIR "/data/watch" }}
export TRANSMISSION_WATCH_DIR_ENABLED={{ default .Env.TRANSMISSION_WATCH_DIR_ENABLED "true" }}

